{extend name="base" /}
{block name="head"} {/block}

{block name="body"}


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">


            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">修改密码</div>
                                <!-- <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div> -->
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-line-form">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">新密码 <span class="tpl-form-line-small-title">Password</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="password" class="tpl-form-input" id="password1" placeholder="请输入密码">
                                            <small>请填写6-20位数。</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">再次输入 <span class="tpl-form-line-small-title">Password</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="password" class="tpl-form-input" id="password2" placeholder="请输入密码">
                                            <small>请填写6-20位数。</small>
                                        </div>
                                    </div>


                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " id="checkPass" >提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
{/block}

{block name="foot"}

    <script type="text/javascript">

        $('#checkPass').click(function(){
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            if(!password1 || !password2) {
                layer.msg('密码不能为空');return;
            }
            if(password1.length<6 || password2.length<6) {
                layer.msg('密码不少于6位数');return;
            }
            if(password1 != password2) {
                layer.msg('两次密码不一致');return;
            }
            var data = {password:password1};
            $.post('/admin/login/checkPass',data,function(data) {
                if(data.status==1) {
                    layer.msg(data.msg);
                    location.href = '/admin/login/index';
                }
            });
        });
    </script>

{/block}